<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="Typesettings - A Sass toolkit that sets type in Ems based on modular scale, vertical rhythm, and responsive ratio based headlines.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- build:js(app) js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body id="top">
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include header.html %}
    <div class="main-container">
      <div class="main wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include googleanalytics.html %}

  </body>
</html>
