<div class="header-container">
  <header>
    <a href="/">
      <div class="logo">
        <div class="icon-logo"></div>
        <h1>Typesettings</h1>
      </div>
    </a>
    <p class="lead">A Sass Type Toolkit</p>
    <a class="button button-default" href="https://github.com/ianrose/typesettings/zipball/master">Download Latest</a>
    <a class="button button-default" href="https://github.com/ianrose/typesettings">View on GitHub</a>
    <a class="button button-default" href="https://github.com/ianrose/typesettings-site">Example Code</a>
  </header>
</div>
