<div class="footer-container">
  <footer>
    <ul class="social-buttons">
      <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ianrose&amp;repo=typesettings&amp;type=watch&amp;count=true" width="100" height="24" title="Star on GitHub"></iframe></li>
      <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ianrose&amp;repo=typesettings&amp;type=fork&amp;count=true" width="102" height="24" title="Fork on GitHub"></iframe></li>
    </ul>
    <p>This project is built &amp; maintained by <a href="http://ianrose.me/">Ian Rose</a> <a href="https://twitter.com/ThatIanRose" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a> <a href="https://github.com/ianrose" title="GitHub"><i class="fa fa-lg fa-github-alt"></i></a></p>

    <p><a href="credits">Credits</a></p>
  </footer>
</div>
