---
title: Typesettings | Credits
---
{{#extend "layout"}}
  {{#content "main"}}
    <article>
      <section>
        <h4>Credits</h4>

        <p>The logo icon is by Q. Li from The Noun Project</p>
      </section>
    </article>
  {{/content}}
{{/extend}}
